<li class="post-data">
<h2>
<li><%= link_to post.title, "/users/#{post.author.id}/posts/#{post.id}" %></li>
</h2>
<p><%= post.text%> </p>
<p>Comments: <%= post.comments_counter || 0%> likes: <%= post.likes_counter || 0%></p>
</li>
