<li class="card-wrap">
<img src=<%= user.photo %> alt="photo">
<div class="card">
<h2 class="card-title"><%= user.name%></h2> 
<p class="card-para">number of posts: <%= user.posts_counter %> id: <%= user.id%> </p>
</div>
<li>