<%user =  @user_current%>
<% posts = @user_current.last_posts %>

<%= render partial: "renders/user", object: user%>

<div class="bio">
<h2>bio</h2>
<p class="bio-text"> <%= user.bio%> </p>
</div>

<div>
<ul class="post-wrap">
   <%= render partial: "renders/post", collection: posts%>
</ul>
</div>

