<%= render partial: "renders/user", object: @user%>

<ul class="post-wrap">
<% @posts.each_with_index do |post, index|%>
   <%= render partial: "renders/post", object: post%>
<li class="post-data comment">
   <h3>Comments:</h3>
   <%= render partial: "renders/comment", collection: post.last_comments %>
</li>
<%end%>
</ul>